#news
{
	.news_article div
	{
		position: relative;
		height: 14rem;
		margin-bottom: 1rem;

		.news_image
		{
			background: blue;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		.news_body
		{
			font-size: $small-p;
			background: rgba(0,0,0, .5);
			color: white;
			position: absolute;
			bottom: 0;
			margin: 0;
			padding: 1em;
		}
	}


}
