#workshops
{
	div div .container
	{
		padding: 0 5px;
	}
	div div .container:first-child
	{
		padding-left: 0;
	}
	div div .container:last-child
	{
		padding-right: 0;
	}

	.card
	{
		height: 23rem;
		position: relative;
		background: $gray-dark;
		color: white;
		border: 0;
		overflow: hidden;
	}
	.workshop_card_content
	{
		padding: 1rem;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgba(0, 0, 0, .5);
	}

	.workshop_date
	{
		position: absolute;
		left: 1rem;
		top: 1rem;
		width: 4rem;
		text-align: right;
	}


	.workshop_days, .workshop_location
	{
		font-size: .75rem;
		color: rgba(255, 255, 255, .6);
	}


	 .workshop_title, .workshop_location
	 {
		 margin-left: 5rem;
	 }
	 .workshop_year,
	 .workshop_title,
	 .workshop_card_date_only
	 {
		 font-size: 1.25rem;
	 }

	.workshop_card_date_only
	{
		// background: rgba(255, 255, 255, .6);
		background-color: rgba(0, 0, 0, .5);
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		padding-top: (21rem/2);


	}

	@include media-breakpoint-down(sm)
	{
		.workshop_card_date_only span
		{
			display: block;
			transform: rotate(270deg);
			font-size: 1rem;
		}
	}

	$transition_time: .5s;

	.col-xs-1 .workshop_card_content
	{
		// display: none;
		opacity: 0;
		transition: opacity $transition_time;
		cursor: pointer;

	}
	.col-xs-9 .workshop_card_date_only
	{
		// display: none;

		opacity: 0;
		transition: opacity $transition_time;
	}

	.col-xs-9 .workshop_card_content
	{
		// display: none;
		opacity: 1;
		transition: opacity $transition_time;
	}
	.col-xs-1 .workshop_card_date_only
	{
		// display: none;

		cursor: pointer;
		opacity: 1;
		transition: opacity $transition_time;
	}



	.workshop_card.col-xs-1, .workshop_card.col-xs-9
	{
		transition: width $transition_time;
	}


	#IU_card, #UM_card, #OSU_card
	{
		background-size: cover;
		background-position: center center;
	}
	#IU_card
	{
		background-image: url("../images/IU.jpg");
	}
	#UM_card
	{
		background-image: url("../images/UM.jpg");
	}

	#OSU_card
	{
		background-image: url("../images/OSU.jpg");
	}

}
